@model HajurkoCarRental.Controllers.UserController.UserModel

@{
    ViewData["Title"] = "Change User Password";
}

<br />
<div class=" p-3 mt-4">

    <div>
        <form method="post">
            <div>
                <div>
                    <h1 class="text-primary pb-2">Change User Password</h1>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input readonly asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <button type="submit" class="btn btn-icon w-150 btn-primary">
                        <span>
                            <i class="bi bi-cloud-upload-fill"></i>
                        </span>
                        <span>
                            Update
                        </span>
                    </button>
                    <a asp-action="Index" class="btn btn-secondary w-150 btn-icon">
                        <span>
                            <i class="bi bi-backspace-fill"></i>
                        </span>
                        <span>
                            Back To List
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}