@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h2 class="mb-3 text-secondary">@ViewData["Title"]</h2>
<hr />
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <div>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" placeholder="Enter a Current Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" placeholder="Enter a new Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" placeholder="Enter a password to confirm..." class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="w-100 btn btn-icon btn-primary">Update</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}