@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h2 class="mb-3  text-secondary">@ViewData["Title"]</h2>
<hr />
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <div>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div>
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                </div>
            }
            else
            {
                <div>
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <br />
            <div>
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <input placeholder="Enter a new email..." asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <br />
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-icon btn-primary">Update</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}